@use "sass:color";
@use "variables";
.psd-badge {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 9999px; /* Rounded pill */
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;

  &--primary {
    background-color: variables.$primary-color;
    color: variables.$white;

    &:hover {
      background-color: color.adjust(variables.$primary-color, $lightness: 10%);
    }
  }

  &--secondary {
    background-color: variables.$secondary-color-light;
    color: variables.$text-medium-color;

    &:hover {
      background-color: color.adjust(
        variables.$secondary-color-light,
        $lightness: 5%
      );
    }
  }
}
