$primary-color: #ff8d00;
$secondary-color: #f5f5f5;
$secondary-color-light: #eeeeee;
$white: #ffffff;
$stroke-color: #dddddd;

$shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);

$text-dark-color: #000000;
$text-medium-color: #555555;
$spacer-base: 1rem;